node_modules/
.env
.cache-simburto
__pycache__/main.cpython-312.pyc
*.pyc
.cache
package-lock.json
.next

host.db
.DS_Store

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.yarn-integrity
.npm

.eslintcache

*.tsbuildinfo
next-env.d.ts

.next
.vercel
.env*.local
.cache-username
